PORT=3001
APP_ENV=local
OMILOS_DB_HOST=localhost
OMILOS_DB_PORT=5432
OMILOS_DB_DATABASE=omilos
OMILOS_DB_USERNAME=omilos_admin
OMILOS_DB_PASSWORD=
OMILOS_DB_SCHEMA=public
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
OMILOS_S3_BUCKET=
CLOUDFRONT_DISTRIBUTION_DOMAIN=

